body {
  background-color: #000000;
  margin: 2rem;
  color: #ffffff;
  font-family: Helvetica, Arial, Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/*collego Lcd font*/
@font-face {
  font-family: "LcdFont";
  src: url("./Assets/Fonts/LCD5x7VF.ttf") format("truetype");
}

h1 {
  color: #ff8b43;
  font-family: "LcdFont", monospace;
  font-size: 40px;
}

h2 {
  font-family: "LcdFont", monospace;
  font-size: 24px;
  margin-top: 2em;
}

p {
  width: 60vw;
  max-width: 50em;
  padding: none;
  margin: 1em 0 0.5em 0;
}

/*parte delle categorie tipo faq*/

.newCategory {
  /*sfondo bottone*/
  background-color: #000000;
  width: 60vw;
  max-width: 40em;
  padding: 1em;
  margin: 0.5em;
  border-radius: 20px;
  border: 0.1rem solid #ffffff;
  cursor: pointer;
  /*disposizione dei contenuti*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*testo interno*/
  color: #ffffff;
  font-family: Helvetica, Arial, Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.newCategory:hover {
  background-color: #ffffff20;
  transition: 0.1s;
}

/*rotazione freccia*/
.newCategory span {
  transition: transform 0.25s;
}
.newCategory.active span {
  transform: rotate(-90deg);
}

.oldCategory {
  display: none;
}

.oldCategory p {
  margin-left: 1.5em;
}

.oldCategory li {
  text-indent: 1.5em;
  padding: 0.4rem;
}
